:root {
  --first-color: #27296d;
  --second-color: #5e63b6;
  --third-color: #a393eb;
  --fourth-color: rgb(199, 134, 201);
}

h1 em {
  font-family: "Parisienne", cursive;
  color: white;
}

.title-line-2 {
  margin: -22px 0 0 40px;
}

.head,
.foot {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/src/images/bouquet-boutique/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

.mockups .homepage img {
  width: 40%;
}

.mockups .bouquet-page img {
  width: 30%;
}

.more-mockups img {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 20%;
  max-width: 230px;
}

.high-fidelity-prototype img {
  max-height: 600px;
}

@media (max-width: 768px) {
}
