h1 em {
  font-family: "Send Flowers", cursive;
  color: black;
}

.head,
.foot {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("/src/images/flower-shoppe/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mockups .homepage img {
  width: 40%;
}

.mockups .bouquet-page img {
  width: 30%;
}

.more-mockups img {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 20%;
  max-width: 230px;
}

.high-fidelity-prototype img {
  max-height: 600px;
}
