:root {
  --first-color: #6d273c;
  --second-color: #c38db6;
  --third-color: #7d62a5;
  --fourth-color: #c786c9;
  --fifth-color: rgba(231, 213, 250, 0.2);

  --body-font: "Raleway", sans-serif;
  --highlight-font: "Lobster Two", sans-serif;

  --container-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  --button-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  --button-hover-transition: all 250ms ease-in-out;
}

body {
  font-family: var(--body-font);
  margin: 0 auto;
  max-width: 1000px;
}

.container {
  padding: 60px 40px 0;
  box-shadow: var(--container-shadow);
}

section {
  padding: 50px 30px;
}
.intro {
  text-align: center;
}

h2,
strong {
  margin: 0 auto;
  display: inline;
  font-weight: normal;
}

strong {
  font-size: 35px;
}

h1 {
  font-family: var(--highlight-font);
  font-size: 60px;
  display: block;
  color: var(--third-color);
}

h3 {
  text-align: center;
  margin: 10px 0 20px;
  color: var(--third-color);
  font-size: 24px;
}

h4 {
  font-size: 18px;
  line-height: 40px;
}

h5 {
  text-align: center;
  color: black;
}

h6,
h5,
h4,
h3 {
  font-weight: normal;
  text-transform: uppercase;
}

p,
ul {
  font-size: 14px;
}

.navbar {
  background: var(--second-color);
  box-shadow: var(--container-shadow);
}

.navbar-brand {
  font-family: var(--highlight-font);
  font-size: 30px;
}

footer {
  background: var(--second-color);
  color: white;
  padding: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

#contact-me a {
  color: var(--fourth-color);
  display: inline-block;
  word-break: break-word;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: var(--button-shadow);
}

.links {
  display: flex;
}

.links span {
  text-align: center;
  margin: 10px;
}

.links i {
  font-size: 20px;
}

.links a {
  color: white;
  text-decoration: none;
}

.code {
  text-align: center;
  margin-top: 40px;
}

.code a {
  color: white;
}

@media (max-width: 768px) {
  main {
    margin: 0;
    padding: 100px 20px;
  }
  .intro {
    padding-right: 0;
    padding-left: 0;
  }
  strong {
    font-size: 28px;
  }
  h1 {
    font-size: 42px;
  }
  .navbar {
    min-width: 100%;
  }
  .navbar-brand {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  .footer-container {
    display: block;
    text-align: center;
  }
  .links {
    margin-top: 40px;
    justify-content: space-evenly;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  p,
  li {
    font-size: 12px;
  }
}
