:root {
  --first-color: #27296d;
  --second-color: #5e63b6;
  --third-color: #a393eb;
  --fourth-color: #c786c9;

  --body-font: "Raleway", sans-serif;
  --highlight-font: "Lobster Two", sans-serif;
}

body {
  font-family: var(--body-font);
}

h1 {
  text-align: center;
  margin: 100px auto 40px;
}

h1 em {
  font-family: var(--highlight-font);
  font-size: 60px;
  color: var(--third-color);
}

h3 {
  margin: 15px 0 30px 20px;
  color: var(--third-color);
}

.navbar {
  background: var(--second-color);
}

.navbar-brand {
  font-family: var(--highlight-font);
  font-size: 30px;
}

.about {
  border: 3px solid var(--fourth-color);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.works {
  margin-bottom: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.works .work {
  border: 1px solid var(--fourth-color);
  border-radius: 20px;
  padding: 0;
}

.works img {
  border-radius: 20px 20px 0 0;
}

.work a, .more-works {
  background: var(--second-color);
  color: white;
  display: block;
  margin: 20px auto;
  width: 75%;
}

.links {
  text-align: right;
  display: flex;
}

.links span {
  text-align: center;
  margin: 10px;
}

.links i {
  font-size: 20px;
}
